@import url('https://fonts.googleapis.com/css?family=Rye');
body * {
  margin: 0;
  font-family: "Skranji", cursive;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rye';
  font-size: 22px;
}
